* text=auto

*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.spec text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.vbs text eol=crlf

*.ico binary
*.png binary
